Zb:                                      86
Zt:                                      50
Ab:                                      222
At:                                      120
Eb:                                      4230
Ex:                                      635
thick:                                   2.1
depth:                                   1.05
cddist:                                  28.6
cdoffset:                                243.8
deadlayer:                               0.0007
plunger:                                 0
bg_frac:                                 -0.75
daq_dir:                                 
local_dir:                               /path/to/raw/data/location/
med_pre:                                 222Rn
add_file:                                222Rn_120Sn_pos5_058
settings:                                /path/to/MBSettings2018_CLX.dat
outfile:                                 /path/to/222Rn_120Sn
calfile:                                 /path/to/calibration_mb2018.cal
cutfile:                                 /path/to/cutfile_222Rn_120Sn.root:Bcut:Tcut
srimdir:                                 /path/to/srim/
filelist:                                222Rn_120Sn_pos5_047 222Rn_120Sn_pos5_048 222Rn_120Sn_pos5_050 222Rn_120Sn_pos5_055 222Rn_120Sn_pos5_056 222Rn_120Sn_pos5_057 222Rn_120Sn_pos5_058 
source:                                  0
beamdump:                                1
spede:                                   0
crex:                                    0
trex:                                    0
cdpad:                                   1
singles:                                 0
gamgam:                                  0
addback:                                 0
reject:                                  1
segsum:                                  1
verbose:                                 0
usecut:                                  1
usekin:                                  0
